<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344766470368-t9k0a37cmpgliarp7bpvtonsoags46je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344766470368-t9k0a37cmpgliarp7bpvtonsoags46je</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQgl3f3xBah0gfVlJsfXMxpdBQdvIkrU</string>
	<key>GCM_SENDER_ID</key>
	<string>344766470368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waterydesert.flowerSellingApp</string>
	<key>PROJECT_ID</key>
	<string>flower-selling-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flower-selling-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344766470368:ios:cc12659633df3f2e8e5885</string>
</dict>
</plist>